@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.custom-error-message, .custom-error-message-modal {
  display: none;
}

.btn-login-with-sms {
  background-color: #7f7f7f;
  display: none;
}

.btn-login-with-email {
  background-color: #555555;
}

.btn-login-with-google {
  background-color: #dd4b39;
}

.btn-login-with-facebook {
  background-color: #3b5998;
  margin-bottom: 0 !important;
}

.card-body {
  & div.mb-4:last-child {
    margin-bottom: 0 !important;
  }
}
